body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 1.8rem;
    font-weight: 400;
    align-items: center;
}

p {
    text-align: center;
    margin-bottom: 0;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: darkgoldenrod;
}

h2 {
    color: rgb(14, 118, 167);
    text-align: center;
    margin-top: 0;
    border-bottom: 0.05rem solid gray;
}

.footer {
    color: red;
    font-size: 1.3rem;
    letter-spacing: 0;
}

.rights {
    color: gray;
    letter-spacing: 0;
}
